.nft-sale {
  text-align: center;
  background: linear-gradient(135deg, #1b1b1b, #2a2a2a);
  color: #ffffff;
  min-height: 100dvh; /* Ensures it covers the entire height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content closer to the top */
  align-items: center; /* Horizontally centers content */
  overflow-x: hidden; /* Prevents horizontal scrolling on smaller devices */
  padding-top: 80px; /* Adds spacing between the navbar and the content */
  padding-bottom: 80px;
  overflow:hidden;
}


.nft-sale h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.nft-sale p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #d0d0d0;
}

/* NFT Levels Grid */
.nft-levels {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px; /* Adds some space between the section title and the cards */
}

/* NFT Card Styling */
.nft-card {
  background: linear-gradient(145deg, #2d2d2d, #3a3a3a);
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nft-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.nft-card h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.nft-card p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #d0d0d0;
}

.nft-card button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  background: #50c878;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.nft-card button:hover {
  background: #45b368;
  transform: scale(1.05);
}

.nft-card button:disabled {
  background: #888;
  cursor: not-allowed;
}
